
    .title{
        font-size 20px
        border-bottom 1px solid #cccccc
        color #24b36b

        svg{
            margin-right 6px;
        }
    }

    .omit{
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
    }

     /deep/ .el-form-item__label{
            font-size 16px;
    }

    /deep/ .el-input__inner{
            width 240px
        }
     /deep/ .textareaBox{
        width 650px
        position relative
     }

     /deep/ .el-textarea__inner{
         border-color:#ccc;
        letter-spacing: 2px;
     }

     .textNum{
            position absolute
            right: -90px;
            bottom: -5px;
            color #999
    }
    
     /deep/ .textareaBox textarea{
        width 650px
        height 145px;
        resize none
        padding-bottom 30px;
    }

  .btn_box{
        width:780px;
        text-align center;

        .disabled{
            background-color:#96ecc1 !important;
        }
    }

    .btn_box .btn{
        display: inline-block;
        width 160px;
        height:35px;
        line-height 35px;
        text-align center;
        color #fff;
        border-radius 4px;
        background-color:#24b36b;
        cursor pointer;
    }