
    .title{
        font-size 20px
        border-bottom 1px solid #cccccc
        color #24b36b

        svg{
            margin-right 6px;
        }
    }

    .omit{
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
    }